# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data files and folders
*.dat
*Output

# Extra Parameter Files
[1-9]*.txt

# Extra bash scripts
[^twoDimension]*.sh

# Tar files and log files 
*.tar
*.log

